###
{% set i =  groups[bra ~ '-mysql'].index(inventory_hostname) %}

ALTER USER '{{ MYSQL.SERVERS[i].CONNECTIONS[0]['USER'] }}'@'{{ MYSQL.SERVERS[i].CONNECTIONS[0]['HOST'] }}' IDENTIFIED BY '{{ MYSQL.SERVERS[i].CONNECTIONS[0]['PASSWORD'] }}';  