{% set i =  groups[bra ~ '-mysql'].index(inventory_hostname) %}
{% if groups[bra ~ '-mysql'].index(inventory_hostname) + 1 == 1 %}
## master 不需 使用 replication 指向其他台 MySQL

{% elif mysql_ha == 'master-slave' and groups[bra ~ '-mysql'].index(inventory_hostname) + 1 >= 2 %}
## master-slave 高可用，slave 使用 replication 都指向第一台 MySQL
{% set master_host = MYSQL.SERVERS[0].HOST %}

{% elif mysql_ha == 'master-master-slave' and groups[bra ~ '-mysql'].index(inventory_hostname) + 1 == 2 %}
## master-master-slave 高可用，次级 master 使用 replication 指向第一台 MySQL， 此时 第二台 MySQL engine 可能为 BALCKHOLE，看不到资料
{% set master_host = MYSQL.SERVERS[0].HOST %}

{% elif mysql_ha == 'master-master-slave' and groups[bra ~ '-mysql'].index(inventory_hostname) + 1 >= 3 %}
## master-master-slave 高可用，slave 使用 replication 都指向第二台 MySQL， 此时 第二台 MySQL engine 可能为 BALCKHOLE，看不到资料
{% set master_host = MYSQL.SERVERS[1].HOST %}

{% else %}
{% set host = MYSQL.SERVERS[i].MASTER_HOST %} ## 预设指向 设定当里面的 MASTER_HOST

{% endif %}

STOP SLAVE IO_THREAD;
STOP SLAVE;
{% if groups[bra ~ '-mysql'].index(inventory_hostname) + 1 >= 2 and (mysql_version == '5.5' or mysql_version == '5.6') or MYSQL.GTID_MODE == 'no' or MYSQL.GTID_MODE == 0 or MYSQL.GTID_MODE == false %}
CHANGE MASTER TO MASTER_HOST='{{ master_host }}', 
                 MASTER_USER='replicator', 
                 MASTER_PASSWORD='mysql_pass_replicator', 
                 MASTER_LOG_FILE='mysql-bin.000001', 
                 MASTER_LOG_POS=2760,
                 MASTER_CONNECT_RETRY=30;

START SLAVE;
START SLAVE IO_THREAD;
{% elif groups[bra ~ '-mysql'].index(inventory_hostname) + 1 >= 2 %}               
CHANGE MASTER TO MASTER_HOST='{{ master_host }}', 
                 MASTER_USER='replicator', 
                 MASTER_PASSWORD='mysql_pass_replicator', 
                 MASTER_AUTO_POSITION=1,
                 MASTER_CONNECT_RETRY=30;   
                 
START SLAVE;
START SLAVE IO_THREAD;  
{% endif %}

SHOW SLAVE STATUS;
