#
GRANT ALL 
ON *.* 
TO '{{ ROOT_USER }}'@'{{ ROOT_HOST }}'
IDENTIFIED BY '{{ ROOT_PASSWORD }}'
WITH GRANT OPTION;

DROP USER '{{ SERVICE_BACKEND_USER }}'@'{{ SERVICE_BACKEND_HOST }}';
CREATE USER '{{ SERVICE_BACKEND_USER }}'@'{{ SERVICE_BACKEND_HOST }}';

GRANT ALL 
ON {{ SERVICE_BACKEND_DATABASE }}.* 
TO '{{ SERVICE_BACKEND_USER }}'@'{{ SERVICE_BACKEND_HOST }}'
IDENTIFIED BY '{{ SERVICE_BACKEND_PASSWORD }}';