###

{% for CONNECTION in CONNECTIONS %}

{% if CONNECTION['drop_user'] == True %}
DROP USER IF EXISTS '{{ CONNECTION['USER'] }}'@'{{ CONNECTION['HOST'] }}';
{% endif %}
CREATE USER '{{ CONNECTION['USER'] }}'@'{{ CONNECTION['HOST'] }}';
GRANT ALL ON {{ CONNECTION['DATABASE'] }}.* TO '{{ CONNECTION['USER'] }}'@'{{ CONNECTION['HOST'] }}' IDENTIFIED BY '{{ CONNECTION['PASSWORD'] }}'{% if CONNECTION['with_grant_option'] == True %} WITH GRANT OPTION{% endif %};

{% endfor %}




###


FLUSH PRIVILEGES;


###

