###
{% if branch == 'fea' or branch == 'feature' %}
GRANT ALL ON *.* TO '{{ ROOT_USER }}'@'10.0.0.1' IDENTIFIED BY '{{ ROOT_PASSWORD }}' WITH GRANT OPTION;
{% endif %}

GRANT ALL ON *.* TO '{{ ROOT_USER }}'@'127.0.0.1' IDENTIFIED BY '{{ ROOT_PASSWORD }}' WITH GRANT OPTION;
GRANT ALL ON *.* TO '{{ ROOT_USER }}'@'localhost' IDENTIFIED BY '{{ ROOT_PASSWORD }}' WITH GRANT OPTION;

###

{% for CONNECTION in CONNECTIONS %}
DROP USER IF EXISTS '{{ CONNECTION['USER'] }}'@'{{ CONNECTION['HOST'] }}';
CREATE USER '{{ CONNECTION['USER'] }}'@'{{ CONNECTION['HOST'] }}';
GRANT ALL ON {{ CONNECTION['DATABASE'] }}.* TO '{{ CONNECTION['USER'] }}'@'{{ CONNECTION['HOST'] }}' IDENTIFIED BY '{{ CONNECTION['PASSWORD'] }}';

{% endfor %}




###


FLUSH PRIVILEGES;


###