{% if groups[bra ~ '-mysql'].index(inventory_hostname) + 1 == 1 %}
-- 这里 table 使用 ENGINE BLACKHOLE , 二级 maser 不会看到 数据 !! 
-- MySQL dump 10.13  Distrib 8.0.13, for Win64 (x86_64)
--
-- Host: 192.168.1.72    Database: ga
-- ------------------------------------------------------
-- Server version	5.7.22-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
 SET NAMES utf8 ;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;





--
-- Dumping routines for database 'ga'
--
/*!50003 DROP PROCEDURE IF EXISTS `platform_daily_report` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
-- DELIMITER ;;
-- CREATE DEFINER=`root`@`%` PROCEDURE `platform_daily_report`(in pre_day text,in today text)
-- BEGIN

-- #每日注册用户
-- #前一天
-- if pre_day is null then  set @pre_day = concat((DATE_SUB(CURDATE(), INTERVAL 1 DAY)),' 00:00:00');
--   else set @pre_day = concat(pre_day,' 00:00:00');
--     end if;

-- #今日alter
-- if today is null then set @today = concat(date(now()),' 00:00:00');
--   else set @today = concat(today,' 00:00:00');
--     end if;


-- set @register_user = (SELECT COUNT(id) as register_sum FROM users WHERE created_at >= @pre_day  and created_at < @today );
-- #今日注册用户ID

    
-- set @register_users = (SELECT 
--   group_concat(id)
-- FROM
--     users
-- WHERE
--     created_at >= @pre_day  and created_at < @today);
-- #今日注册的用户充值>=50的
-- set @more_then_50_users = (SELECT 
--     COUNT(user_id)
-- FROM
--     (SELECT 
--         user_id
--     FROM
--         transactions
--     WHERE
--         type_id = 1
--             AND created_at >=@pre_day and created_at <= @today
--     GROUP BY user_id
--     HAVING SUM(amount) > 50) as t2)	;
-- #获取用户流水总量 彩票+第三方

-- set @effctive = (SELECT 
--     COUNT(user_id)
-- FROM
--     (SELECT 
--         SUM(lottery_bets) AS bets_sum, user_id
--     FROM
--         (SELECT 
--         COALESCE(SUM(amount), 0) AS lottery_bets,
--             user_id,
--             created_at
--     FROM
--         transactions AS lottery_bet
--     WHERE
--         type_id = 7
--             AND created_at >= @pre_day
--             AND created_at < @today
--     GROUP BY user_id UNION SELECT 
--         COALESCE(SUM(turnover), 0) AS third_bets,
--             uid AS user_id,
--             created_at
--     FROM
--         game_user_turnovers AS third_bet
--     WHERE
--         created_at >= @pre_day
--             AND created_at < @today
--     GROUP BY user_id) AS bets
--     GROUP BY user_id) AS bets2
-- WHERE
--     bets_sum >= 50);
-- if @more_then_50_users > @effctive then  set @effctive = @more_then_50_users; 
-- end if;

-- #充值人数

-- set @recharge_users = (select count( distinct user_id) as deposit_users from  transactions where type_id in('1,18')  and created_at >= @pre_day and created_at < @today);
-- #充值笔数 
-- set @recharge_nums = (select count(user_id) as deposit_nums from  transactions where type_id = ('1,18')  and created_at >= @pre_day and created_at < @today);
-- #提款人数
-- set @withdrawal_users = (select count(user_id) as withdrawal_users from  transactions where type_id in ('2,19')  and created_at >= @pre_day and created_at < @today);
-- #提款笔数 
-- set @withdrawal_nums = (select count(user_id) as withdrawal_users from  transactions where type_id in ('2,19')  and created_at >= @pre_day and created_at < @today);
-- #总充值
-- set @recharge = (select COALESCE(SUM(amount),0) as deposit_sum from transactions where type_id  in('1,18') and  created_at >= @pre_day and created_at < @today);
-- #总提款
-- set @withdrawal = (select COALESCE(SUM(amount),0) as deposit_sum from transactions where type_id = ('2,19') and created_at >= @pre_day and created_at < @today);
-- #总返水
-- set @rebate = (select COALESCE(SUM(amount),0) as rebate_sum from transactions where type_id = 40 and  created_at >= @pre_day and created_at < @today);
-- #总优惠 
-- set @offer = (select COALESCE(SUM(amount),0) as rebate_sum from transactions where type_id in ('39,22') and  created_at >= @pre_day and created_at < @today);
-- #当日转入三方游戏
-- set @third_in = (select COALESCE(SUM(amount),0) as third_in from transactions where type_id = 31 and  created_at >= @pre_day and created_at < @today);
-- #当日转出三方游戏
-- set @third_out = (select COALESCE(SUM(amount),0) as third_out from transactions where type_id = 32 and  created_at >= @pre_day and created_at < @today);
-- #数字彩总投注
-- set @lottery_bet = (select COALESCE(SUM(amount),0) as lottery_bet from transactions where type_id = 7 and  created_at >= @pre_day and created_at < @today);
-- #代理提款
-- set @agent_withdrawal = (select COALESCE(SUM(amount),0) as lottery_bet from transactions where type_id = 2 and is_agent = 1 and  created_at >= @pre_day and created_at < @today);
-- set @date_time = date(@pre_day);
-- replace into  platform_daily_report values (NULL,@date_time,@register_user,@effctive,@recharge_users,@recharge_nums,@withdrawal_users,@withdrawal_nums,@recharge,@withdrawal,@offer,@rebate,@third_in,@third_out,@lottery_bet,@agent_withdrawal,0,now());

-- END ;;
-- DELIMITER ;
-- e888d1bd26527e20a14083635f7ba65662c8ad0a15d9d1ca38d5dee762a16e0194273db6f1a3e5b9b434e7b2bb350dff = md5('landan' . 'LANDAN_PASSWORD_KEY') . md5('1234qwer') . md5( strrev(md5('1234qwer' . 'LANDAN_PASSWORD_KEY')) );

# 需要指定 使用的 database, 才知道 是不是该忽略 binglog 复制
USE `landan`;

CREATE TABLE `users` (
  `user_id` INT UNSIGNED NOT NULL AUTO_INCREMENT,
  `name` VARCHAR(45) CHARACTER SET 'utf8mb4' COLLATE 'utf8mb4_general_ci' NOT NULL,
  `password` CHAR(96) CHARACTER SET 'utf8mb4' COLLATE 'utf8mb4_general_ci' NULL, # md5(users.name . KEY). md5(md5(users.password) . strrev(md5(users.password . KEY)))
  `expired_time` DATETIME NOT NULL DEFAULT '2100-01-01 00:00:00',
  `created_time` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
  `updated_time` DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
  `deleted_time` DATETIME NULL DEFAULT NULL,
  PRIMARY KEY (`user_id`))
-- ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4 PARTITION BY LINEAR HASH(user_id) PARTITIONS 8 ;

SET UNIQUE_CHECKS = 0;
LOCK TABLES `users` WRITE;
INSERT INTO `users` (user_id, name, password) VALUES (1,'landan','e888d1bd26527e20a14083635f7ba65662c8ad0a15d9d1ca38d5dee762a16e0194273db6f1a3e5b9b434e7b2bb350dff');
UNLOCK TABLES;
SET UNIQUE_CHECKS = 1;


/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

{% endif %}
