{% set int_index =  groups[bra ~ '-cluster_ndb_mgm'].index(inventory_hostname) %}

[mysqld]
ndbcluster
basedir           = {{ NDB.SERVERS[int_index].BASEDIR }}
datadir           = {{ NDB.SERVERS[int_index].DATADIR }}
user              = mysql
port              = {{ NDB.SERVERS[int_index].PORT }}
socket            = {{ NDB.SERVERS[int_index].SOCKET }}
ndb-connectstring = {{ NDB_MGM.SERVERS[0].HOST }}

[MYSQL_CLUSTER]
ndb-connectstring = {{ NDB_MGM.SERVERS[0].HOST }}