use chatroom;

db.createUser(
  {
    user: "backend",
    pwd: "mongodb_pass",
    roles: [ { role: "readWrite", db: "chatroom" } ]
  }
);


db.createUser(
  {
    user: "backend",
    pwd: "mongodb_pass",
    roles: [ { role: "read", db: "chatroom" } ]
  }
);