{% set int_index =  groups[bra ~ '-cluster_ndb'].index(host) %}

[mysqld]
ndbcluster
basedir           = {{ NDB.SERVERS[int_index].BASEDIR }}
datadir           = {{ NDB.SERVERS[int_index].DATADIR }}
user              = mysql
port              = {{ NDB.SERVERS[int_index].PORT }}
socket            = {{ NDB.SERVERS[int_index].SOCKET }}
ndb-connectstring = {{ NDB_MGM.SERVERS[0].HOST }}

[mysql_cluster]
ndb-connectstring = {{ NDB_MGM.SERVERS[0].HOST }}