{% set int_index =  groups[bra ~ '-cluster_ndb'].index(inventory_hostname) %}

[mysqld]
ndbcluster
basedir           = {{ CLUSTER_NDB.SERVERS[int_index].BASEDIR }}
datadir           = {{ CLUSTER_NDB.SERVERS[int_index].DATADIR }}
user              = mysql
port              = {{ CLUSTER_NDB.SERVERS[int_index].PORT }}
socket            = {{ CLUSTER_NDB.SERVERS[int_index].SOCKET }}
ndb-connectstring = {{ CLUSTER_NDB_MGM.SERVERS[0].HOST }}

[mysql_cluster]
ndb-connectstring = {{ CLUSTER_NDB_MGM.SERVERS[0].HOST }}