- name: (file) mkdir /etc/masterha/scripts
  file:
    path: /etc/masterha/scripts
    state: directory
    mode: 0755
  when: mysql_ha == 'mha'

- name: "(template) scp etc/masterha/scripts/master_ip_failover.j2 /etc/masterha/scripts/master_ip_failover"
  template:
    src: etc/masterha/scripts/master_ip_failover.j2
    dest: /etc/masterha/scripts/master_ip_failover
    owner: root
    group: root
    mode: 0755
  when: mysql_ha == 'mha'