[server default]
manager_workdir=/var/run/msaterha/
manager_log={{ MASTERHA.MANAGER_LOG }}

{% for SERVER in MASTERHA.SERVERS %}

[server{{ loop.index}}]
hostname={{ SERVER.HOST }}
port={{ SERVER.PORT }}
master_binlog_dir="/var/lib/mysql"
{% if loop.index <= 2 %}
candidate_master=1                     # 表示有机会成为master
{% else %}
candidate_master=0                     # 表示没机会成为master
{% endif %}
{% endfor %}