/*
 Navicat Premium Data Transfer

 Source Server         : fea
 Source Server Type    : MongoDB
 Source Server Version : 40010
 Source Host           : 127.0.0.1:27017
 Source Schema         : chatroom

 Target Server Type    : MongoDB
 Target Server Version : 40010
 File Encoding         : 65001

 Date: 16/07/2019 20:22:30
*/


// ----------------------------
// Collection structure for rooms
// ----------------------------

use chatroom; 
// 小写 不能有 引号  USE, 'chatroom', `chatroom` 都不可
// 一定要另外起一行 comment


// ----------------------------
// Collection structure for rooms
// ----------------------------
db.getCollection("rooms").drop();
db.createCollection("rooms");

// ----------------------------
// Documents of rooms
// ----------------------------
db.getCollection("rooms").insert([ {
    _id: ObjectId("5d0b60bf1071cc7c0c58ca27"),
    addedTime: ISODate("2019-06-20T10:31:12.455Z"),
    editedTime: ISODate("2019-06-20T10:31:12.455Z"),
    removedTime: null,
    name: "聊天室",
    messagers: [ ],
    messages: [ ],
    __v: NumberInt("0")
} ]);

// ----------------------------
// Collection structure for users
// ----------------------------
db.getCollection("users").drop();
db.createCollection("users");
db.getCollection("users").createIndex({
    "$**": "text"
}, {
    name: "name",
    weights: {
        "$**": NumberInt("1"),
        name: NumberInt("1")
    },
    "default_language": "english",
    "language_override": "language",
    textIndexVersion: NumberInt("3")
});
db.getCollection("users").createIndex({
    platformUid: "hashed"
}, {
    name: "platformUid"
});

// ----------------------------
// Documents of users
// ----------------------------
db.getCollection("users").insert([ {
    _id: ObjectId("5d28a89daf0fd03ce4004343"),
    url: "user/admin.png",
    name: "admin",
    type: 0,
    nickname: "管理者",
    password: "e45a4f1b101e1e609e258f799a5f40fcb0d8f4e4",
    experience: 0,
    level: 100,
    role: "ADMIN",
    addedTime: "2019-07-12 15:33:07.895",
    editedTime: "2019-07-12 15:33:07.895",
    notBeforeTime: "2019-07-12 15:33:07.895",
    platformUid: "admin"
} ]);
db.getCollection("users").insert([ {
    _id: ObjectId("5d28a8f1af0fd03ce4004344"),
    url: "user/system.png",
    name: "system",
    nickname: "系统",
    password: "013c332c2e2da7a025074d5ca903900bbd73ab8f",
    level: 100,
    role: "SYSTEM",
    experience: 0,
    addedTime: "2019-07-12 15:33:07.895",
    editedTime: "2019-07-12 15:33:07.895",
    notBeforeTime: "2019-07-12 15:33:07.895",
    type: 0,
    platformUid: "system"
} ]);
