use chatroom;
db.dropUser("backend");
db.dropUser("backend_r");

db.createUser(
  {
    user: "backend",
    pwd: "mongodb_pass_backend",
    roles: [ { role: "readWrite", db: "chatroom" } ]
  }
);


db.createUser(
  {
    user: "backend_r",
    pwd: "mongodb_pass_backend",
    roles: [ { role: "read", db: "chatroom" } ]
  }
);
