###
{% if mysql_ha == 'cluster' %}
{% set i =  groups[bra ~ '-cluster_mysql'].index(inventory_hostname) %}
{% elif %}
{% set i =  groups[bra ~ '-mysql'].index(inventory_hostname) %}
{% endif %}

# 這類DCL語句也是記錄為STATEMENT格式。
# grant 語句默認的db是replcrash，
# 並不是replicate_ignore_db選項中的mysql (雖然grant最終改變的對象是在mysql)，
# 所以這條grant語句不會過濾。
USE mysql;

{% for CONNECTION in MYSQL.SERVERS[i].CONNECTIONS %}

{% for HOST in CONNECTION.HOSTS %}
#################################################################################################################################################################
{% if CONNECTION['drop_user'] == True %}
DROP USER IF EXISTS '{{ CONNECTION['USER'] }}'@'{{ HOST }}';
{% endif %}
CREATE USER '{{ CONNECTION['USER'] }}'@'{{ HOST }}'{% if mysql_version == '5.5' or mysql_version == '5.6' or mysql_version == '5.7'%}{% elif mysql_version == '8.0' or mysql_version == '8.1' %} IDENTIFIED BY '{{ CONNECTION['PASSWORD'] }}'{% endif %};
REVOKE ALL PRIVILEGES, GRANT OPTION ON *.* FROM '{{ CONNECTION['USER'] }}'@'{{ HOST }}';
GRANT {{ CONNECTION['GRANTS'] | join(', ') }} ON {{ CONNECTION['DATABASE'] }}.* TO '{{ CONNECTION['USER'] }}'@'{{ HOST }}'{% if mysql_version == '5.5' or mysql_version == '5.6' or mysql_version == '5.7'%} IDENTIFIED BY '{{ CONNECTION['PASSWORD'] }}'{% elif mysql_version == '8.0' or mysql_version == '8.1' %}{% endif %}{% if CONNECTION['with_grant_option'] == True %} WITH GRANT OPTION{% endif %};

{% endfor %}
{% endfor %}





###


FLUSH PRIVILEGES;


###

