- name: (template) scp etc/mysql-mmm/mmm_mon.conf.j2 /etc/mysql-mmm/mmm_mon.conf
  template:
    src: etc/mysql-mmm/mmm_mon.conf.j2
    dest: /etc/mysql-mmm/mmm_mon.conf
    owner: vagrant
    group: vagrant
    mode: 0640
    backup: no
  when: mysql_ha == 'mmm'