{% set int_index =  groups[bra ~ '-cluster_mysql'].index(inventory_hostname) %}

[mysqld]
ndbcluster
basedir           = {{ MYSQL.SERVERS[int_index].BASEDIR }}
datadir           = {{ MYSQL.SERVERS[int_index].DATADIR }}
user              = mysql
port              = {{ MYSQL.SERVERS[int_index].PORT }}
socket            = {{ MYSQL.SERVERS[int_index].SOCKET }}
ndb-connectstring = {{ NDB_MGM.SERVERS[0].HOST }}

[mysql_cluster]
ndb-connectstring = {{ NDB_MGM.SERVERS[0].HOST }}

