[server default]
manager_workdir=/var/run/msaterha/
manager_log={{ MASTERHA.MANAGER_LOG }}

{% for SERVER in MYSQL.SERVERS %}
{% if 1 == loop.index or (2 <= loop.index and SERVER.IS_MASTER is defined ) %}

[server{{ loop.index}}]
hostname={{ SERVER.HOST }}
port={{ SERVER.PORT }}
master_binlog_dir="/var/lib/mysql"
candidate_master={% if loop.index <= 2 %}1{% else %}0{% endif %}
{% endif %}

{% endfor %}