---
- name: (yum) yum remove mariadb-libs mysql*
  yum: 
    name: 
      - mariadb-libs
      - mysql*
    state: absent
  when: mysql_ha == 'cluster'

- name: (yum) yum insatll epel-release-latest-7.noarch.rpm
  yum: 
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
    allow_downgrade: True
  when: mysql_ha == 'cluster'

- name: (yum) yum insatll mysql-cluster-community-common-7.6.9-1.el7.x86_64.rpm
  yum: 
    name: https://dev.mysql.com/get/Downloads/MySQL-Cluster-7.6/mysql-cluster-community-common-7.6.9-1.el7.x86_64.rpm
    allow_downgrade: True
  when: mysql_ha == 'cluster'
  

- name: (yum) yum insatll mysql-cluster-community-libs-7.6.9-1.el7.x86_64.rpm
  yum: 
    name: https://dev.mysql.com/get/Downloads/MySQL-Cluster-7.6/mysql-cluster-community-libs-7.6.9-1.el7.x86_64.rpm
    allow_downgrade: True
  when: mysql_ha == 'cluster'
  
- name: (yum) yum insatll mysql-cluster-community-client-7.6.9-1.el7.x86_64.rpm
  yum: 
    name: https://dev.mysql.com/get/Downloads/MySQL-Cluster-7.6/mysql-cluster-community-client-7.6.9-1.el7.x86_64.rpm
    allow_downgrade: True
  when: mysql_ha == 'cluster'

- name: (yum) yum insatll mysql-cluster-community-server-7.6.9-1.el7.x86_64.rpm
  yum: 
    name: https://dev.mysql.com/get/Downloads/MySQL-Cluster-7.6/mysql-cluster-community-server-7.6.9-1.el7.x86_64.rpm
    allow_downgrade: True
  when: mysql_ha == 'cluster'

- name: (yum) yum insatll mysql-cluster-community-server-7.6.9-1.el7.x86_64.rpm
  yum: 
    name: https://dev.mysql.com/get/Downloads/MySQL-Cluster-7.6/mysql-cluster-community-management-server-7.6.9-1.el7.x86_64.rpm
    allow_downgrade: True
  when: mysql_ha == 'cluster'  
  