# 安裝 MySQL 5.6 預設 無密碼
---
- import_tasks: shell-mysqldump.yml
- import_tasks: yum-install-yum_utils.yml
- import_tasks: yum-install-mysql_comunnity_server.yml
- import_tasks: service-mysqld-restarted.yml # when service mysqld start at the first time, should not template /etc/my.cnf



- import_tasks: file-mkdir-var_log_mysql.yml
- import_tasks: set_fact-mysql_skip_true.yml
- import_tasks: template-etc_my_cnf.yml
- import_tasks: service-mysqld-restarted.yml
- import_tasks: shell-mysql-tmp_update_user_sql.yml
- import_tasks: set_fact-mysql_skip_false.yml
- import_tasks: template-etc_my_cnf.yml
- import_tasks: service-mysqld-restarted.yml
- import_tasks: shell-mysql-tmp_grant_sql.yml
- import_tasks: shell-mysql-tmp_alter_user_sql.yml
# - import_tasks: shell-mysql-tmp_change_master_sql.yml