input {
 beats {
   port => {{ LOGSTASH.FILEBEAT_PORT }}
  }
}
filter {
    json {
        source => "message"
        target => "data"
    }
    grok {
        match => ["source", "\/(?<type>\w+)\.log"]
    }
}
output {
  elasticsearch {
    hosts => ["{{ LOGSTASH.OUTPUT.ELASTICSEARCH.HOSTS[0] }}"]
    index => "log"
    document_type => "%{[type]}"
  }
  stdout {
    codec => rubydebug
    workers => 2
 }
}