#jinja2: lstrip_blocks: True

include mmm_common.conf

<monitor>
    ip                  127.0.0.1
    pid_path            /run/mysql-mmm-monitor.pid
    bin_path            /usr/libexec/mysql-mmm
    status_path         /var/lib/mysql-mmm/mmm_mond.status
    ping_ips            {{ MYSQL.SERVERS | map(attribute='HOST') | list | join(', ')}}
    auto_set_online     60

    # The kill_host_bin does not exist by default, though the monitor will
    # throw a warning about it missing.  See the section 5.10 "Kill Host
    # Functionality" in the PDF documentation.
    #
    # kill_host_bin     /usr/libexec/mysql-mmm/monitor/kill_host
    #
</monitor>

<host default>
    monitor_user        {{ MYSQL.SERVERS[0].CONNECTIONS[3].USER }}
    monitor_password    {{ MYSQL.SERVERS[0].CONNECTIONS[3].PASSWORD }}
</host>

debug 0
