{% set i = groups[bra ~ '-sql_mysql'].index(inventory_hostname) %}


{% if i + 1 == 1 %}
-- 这里 table 如果使用 ENGINE BLACKHOLE , 二级 maser 不会看到 数据 !! 
-- MySQL dump 10.13  Distrib 8.0.13, for Win64 (x86_64)
--
-- Host: 192.168.1.72    Database: ga
-- ------------------------------------------------------
-- Server version	5.7.22-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
 SET NAMES utf8 ;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;


USE `nuoya`;

--
-- Dumping routines for database 'ga'
--
/*!50003 DROP PROCEDURE IF EXISTS `platform_daily_report` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8 */ ;
/*!50003 SET character_set_results = utf8 */ ;
/*!50003 SET collation_connection  = utf8_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;


/*
 Navicat Premium Data Transfer

 Source Server         : 192.168.1.72
 Source Server Type    : MySQL
 Source Server Version : 50722
 Source Host           : 192.168.1.72:3306
 Source Schema         : ga

 Target Server Type    : MySQL
 Target Server Version : 50722
 File Encoding         : 65001

 Date: 19/02/2019 15:36:30
*/

SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for lotteries
-- ----------------------------
DROP TABLE IF EXISTS `lotteries`;
CREATE TABLE `lotteries` (
  `lottery_id` int(12) unsigned NOT NULL AUTO_INCREMENT,
  `game_type` tinyint(4) NOT NULL DEFAULT '1',
  `series_id` tinyint(3) unsigned NOT NULL DEFAULT '1',
  `name` varchar(20) CHARACTER SET utf8 NOT NULL,
  `type` tinyint(3) unsigned NOT NULL DEFAULT '1' COMMENT '类型：1为数字排列，2为乐透',
  `lotto_type` tinyint(3) unsigned DEFAULT NULL,
  `is_self` tinyint(1) unsigned NOT NULL DEFAULT '0',
  `is_instant` tinyint(1) NOT NULL DEFAULT '0',
  `high_frequency` tinyint(1) unsigned NOT NULL DEFAULT '1',
  `sort_winning_number` tinyint(1) unsigned DEFAULT NULL,
  `valid_nums` varchar(300) CHARACTER SET utf8 DEFAULT NULL COMMENT '可选的号码范围，多区时用+分开',
  `buy_length` varchar(10) CHARACTER SET utf8 NOT NULL,
  `wn_length` varchar(10) CHARACTER SET utf8 NOT NULL DEFAULT '3',
  `identifier` varchar(10) CHARACTER SET utf8 NOT NULL,
  `days` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `issue_over_midnight` tinyint(1) unsigned NOT NULL DEFAULT '0',
  `issue_format` varchar(16) CHARACTER SET utf8 NOT NULL DEFAULT '(Y)(M)(D)(N2)',
  `bet_template` varchar(20) CHARACTER SET utf8 DEFAULT NULL,
  `begin_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `sequence` smallint(5) unsigned NOT NULL DEFAULT '0',
  `status` tinyint(3) unsigned NOT NULL DEFAULT '0',
  `need_draw` tinyint(1) unsigned NOT NULL DEFAULT '1',
  `daily_issue_count` int(10) unsigned DEFAULT NULL,
  `trace_issue_count` int(10) unsigned DEFAULT NULL,
  `max_bet_group` int(10) unsigned NOT NULL DEFAULT '0',
  `series_ways` varchar(10140) CHARACTER SET utf8 DEFAULT NULL,
  `added_time` timestamp NULL DEFAULT NULL,
  `edited_time` timestamp NULL DEFAULT NULL,
  `plat_id` int(10) unsigned DEFAULT '0',
  `plat_name` varchar(50) CHARACTER SET utf8 DEFAULT NULL,
  PRIMARY KEY (`lottery_id`) USING BTREE,
  UNIQUE KEY `name` (`name`) USING BTREE,
  UNIQUE KEY `code` (`identifier`) USING BTREE,
  KEY `orders` (`sequence`) USING BTREE,
  KEY `is_self` (`is_self`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=127 DEFAULT CHARSET=utf8mb4 ROW_FORMAT=DYNAMIC COMMENT='彩票信息表';
  
  
  


-- ----------------------------
-- Records of lotteries
-- ----------------------------
INSERT INTO `nuoya`.`lotteries`(`lottery_id`, `game_type`, `series_id`, `name`, `type`, `lotto_type`, `is_self`, `is_instant`, `high_frequency`, `sort_winning_number`, `valid_nums`, `buy_length`, `wn_length`, `identifier`, `days`, `issue_over_midnight`, `issue_format`, `bet_template`, `begin_time`, `end_time`, `sequence`, `status`, `need_draw`, `daily_issue_count`, `trace_issue_count`, `max_bet_group`, `series_ways`, `added_time`, `edited_time`, `plat_id`, `plat_name`) VALUES (2, 1, 2, 'SD115', 2, 1, 0, 0, 1, 0, '1,2,3,4,5,6,7,8,9,10,11', '5', '5', 'SD115', 127, 0, '(y)(M)(D)(N2)', '', '00:00:00', '00:00:00', 20, 3, 1, 43, 234, 1956, NULL, '2014-09-08 11:39:38', '2019-02-11 05:19:21', 0, NULL);

DROP TABLE IF EXISTS `lottery_issues`;
CREATE TABLE `lottery_issues` (
  `lottery_issue_id` int(12) unsigned NOT NULL AUTO_INCREMENT,
  `lottery_id` int(12) NOT NULL,
  `no` int(12) NOT NULL COMMENT '期号',
  `numbers` json DEFAULT NULL,
  `time` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `added_time` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `edited_time` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `removed_time` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`lottery_issue_id`),
  UNIQUE KEY `lotteryid_no` (`lottery_id`,`no`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;


INSERT INTO `lottery_issues`(`lottery_issue_id`, `lottery_id`, `no`, `numbers`, `time`, `added_time`, `edited_time`, `removed_time`) VALUES (1, 9, 2019032034, '[8, 3, 6, 10, 2]', '2019-03-20 20:30:10', '2019-03-20 21:35:26', '2019-03-20 21:35:31', NULL);
INSERT INTO `lottery_issues`(`lottery_issue_id`, `lottery_id`, `no`, `numbers`, `time`, `added_time`, `edited_time`, `removed_time`) VALUES (2, 9, 2019032033, '[7, 5, 10, 11, 1]', '2019-03-20 20:10:10', '2019-03-20 21:47:29', '2019-03-20 21:47:32', NULL);


SET FOREIGN_KEY_CHECKS = 1;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;


/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

{% endif %}
