{% set i = groups[bra ~ '-sql_mysql'].index(inventory_hostname) %}

{% if mysql_version == '5.7' or mysql_ha == 'cluster' %}
## Mysql-cluster 7.6 是建构在 Mysql 5.7
UPDATE mysql.user SET authentication_string=PASSWORD(''), password_expired = 'N' WHERE user='{{ MYSQL.SERVERS[i].CONNECTIONS[0]['USER'] }}';

{% elif mysql_version == '8.0' or mysql_version == '8.1' %}
UPDATE mysql.user SET authentication_string='', password_expired = 'N' WHERE user='{{ MYSQL.SERVERS[i].CONNECTIONS[0]['USER'] }}';

{% elif mysql_version == '5.5' or mysql_version == '5.6' %}
UPDATE mysql.user SET password=PASSWORD('') WHERE user='{{ MYSQL.SERVERS[i].CONNECTIONS[0]['USER'] }}';

{% endif %}


FLUSH PRIVILEGES;
