---
- name: "(shell) sudo masterha_check_ssh --conf={{ MASTERHA.CONF }}"
  shell: "masterha_check_ssh --conf={{ MASTERHA.CONF }}"
  register: s_masterha_ssh
  ignore_errors: yes
- name: (debug) s_masterha_ssh
  debug: 
    msg: "{{ s_masterha_ssh }}"