[server default]
user={{ MYSQL.SERVERS[0].CONNECTIONS[5].USER }}
password={{ MYSQL.SERVERS[0].CONNECTIONS[5].PASSWORD }}
ssh_user=root
repl_user={{ MYSQL.SERVERS[0].CONNECTIONS[12].USER }}
repl_password={{ MYSQL.SERVERS[0].CONNECTIONS[12].USER }}
ping_interval=1
#master_binlog_dir= /var/lib/mysql,/var/log/mysql
secondary_check_script=masterha_secondary_check {% for SERVER in MYSQL.SERVERS %}{% if 2 <= loop.index and SERVER.IS_MASTER is defined and ('yes' == SERVER.IS_MASTER or True == SERVER.IS_MASTER or 1 == SERVER.IS_MASTER ) %}-s {{ SERVER.HOST }} {% endif %}{% endfor %} --user=root --master_host=10.0.0.81 --master_ip=10.0.0.81 --master_port=3306
master_ip_failover_script="/etc/masterha/scripts/master_ip_failover"
master_ip_online_change_script="/etc/masterha/scripts/master_ip_online_change"
report_script="/etc/masterha/scripts/send_report"
