# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.5/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir={{ MYSQL.DATADIR }}
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
bind-address = {{ MYSQL.BIND_ADDRESS }}

{% if mysql_version == '5.7' or mysql_version == '8.0' or mysql_version == '8.1' %}
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
{% endif %}

{% if mysql_version == '5.7'%}
validate-password=0
{% elif mysql_version == '8.0' or mysql_version == '8.1' %}
validate_password.dictionary_file=/usr/share/dict/words
validate_password.length=4
validate_password.policy=0
validate_password.number_count=1
{% endif %}

{% if mysql_version == '5.5' or mysql_version == '5.6' %}
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
{% endif %}

server_id = 1     
      
log-bin = /var/log/mysql-bin.log #开启二进制日志                  

{% for CREATE_DATABASE in MYSQL.CREATE_DATABASES %}
binlog-do-db = {{ CREATE_DATABASE }} #需要复制的数据库名，如果复制多个数据库，重复设置这个选项即可
{% endfor %}
       
log-slave-updates #将从服务器从主服务器收到的更新记入到从服务器自己的二进制日志文件中                 
    
sync_binlog = 1 #控制binlog的写入频率。每执行多少次事务写入一次(这个参数性能消耗很大，但可减小MySQL崩溃造成的损失) 
 
auto_increment_offset = 1 #这个参数一般用在主主同步中，用来错开自增值, 防止键值冲突

auto_increment_increment = 1 #这个参数一般用在主主同步中，用来错开自增值, 防止键值冲突

expire_logs_days = 7 #二进制日志自动删除的天数，默认值为0,表示“没有自动删除”，启动时和二进制日志循环时可能删除  
       
log_bin_trust_function_creators = 1 #将函数复制到slave  


[mysqldump]
user={{ MYSQL.CONNECTIONS[0]['USER'] }}
password={{ MYSQL.CONNECTIONS[0]['PASSWORD'] }}

[client]
user={{ MYSQL.CONNECTIONS[0]['USER'] }}
password={{ MYSQL.CONNECTIONS[0]['PASSWORD'] }}